@model List<StudentManagementSystem.Models.Student>

@{
    ViewData["Title"] = "Studenti Inscrisi";
}

<h3>Toti studentii inscrisi</h3>

@if(!Model.Any())
{
    <p>Nu exista niciun student</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Nume</th>
                <th>Email</th>
                <th>Anul de studiu</th>
                <th>Media generala</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var student in Model)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.Email</td>
                    <td>@student.YearOfStudy</td>
                    <td>@student.GeneralGrade</td>
                    <td>
                    <a asp-action="ViewStudentHomeworks" asp-route-studentId="@student.Id" class="btn btn-primary">
                        Vezi Temele 
                    </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
