@model List<StudentManagementSystem.Models.Homework>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Teme";
}


<h2>Teme</h2>

@if (!Model.Any())
{
    <p>Nu ai nicio tema =^)</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Titlu</th>
                <th>Descriere</th>
                <th>Data creari</th>
                <th>Termen limita</th>
                <th>Nota</th>
                <th>Stare</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var homework in Model)
            {
                <tr>
                    <td>@homework.Title</td>
                    <td>@homework.Description</td>
                    <td>@homework.CreationDate</td>
                    <td>@homework.EndDate</td>

                    @if(homework.HasGrade == true)
                    {
                        <td>@homework.Grade / 10</td>
                    }
                    else
                    {
                        <td>Fara nota</td>
                    }

                    @if(homework.Status == false)
                    {
                        <td>Necompletata</td>
                    }
                    else
                    {
                        <td>Completata</td>
                    }

                    @if(homework is StudentManagementSystem.Models.Project)
                    {
                        <td>
                        <a asp-controller="Student" asp-action="UploadProjectFiles" asp-route-projectID="@homework.Id" class="btn btn-primary">Incarca proiectul</a>
                        </td>
                    }
                    else if(homework is StudentManagementSystem.Models.Homework)
                    {
                        <td>
                        <a class="btn btn-primary" asp-controller="Student" asp-action="EditHomework" asp-route-id="@homework.Id">Acceseaza Tema</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="btn btn-primary" asp-controller="Student" asp-action="StartQuiz" asp-route-id="@homework.Id">Acceseaza Tema</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
}